<div class="container">
  <br>
  <br>
  <h3><%= link_to 'Add a cocktail to the list', cocktail_path(cocktail) %></h3>
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.submit %>
  <% end %>

<%= link_to 'Back to cocktail list', cocktails_path %>
</div>
